<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ page.title }} - Blog of Ryan Bigg</title>
    <link href="http://feeds.feedburner.com/ryanbigg" rel="alternate" title="The Life of a Radar" type="application/atom+xml" />
    <link rel='stylesheet' href='/css/style.css' media='screen'>
    <link rel='stylesheet' href='/css/mobile.css'>
    <link rel='stylesheet' href='/css/syntax.css'>
  <body>
    <h1 align='center'>The Life of a ...</h1>
    <div id='page'>
      <div id="header">
        <p>This used to be Ryan Bigg's blog setup, until I "stole" it for personal use with some enhancements, please let me know if there's still original content from him that has not been purged yet!</p>

        <p>I will post reviews and musings from time to time, and maybe other stuff as well.</p>
      </div>
      <header>{{ title }}</header>
      {{ content }}
    </div>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4e30f771f5a1f547c8000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
