<!DOCTYPE HTML>
<html>
  <head>
    <title>Blog of prusswan - {{ page.title }}</title>
    <link href="http://feeds.feedburner.com/prusswan" rel="alternate" title="The Life of a ..." type="application/atom+xml" />
    <link rel='stylesheet' href='/css/style.css' media='screen'>
    <link rel='stylesheet' href='/css/mobile.css'>
    <link rel='stylesheet' href='/css/syntax.css'>
  <body>
    <h1 align='center'><a href='http://prusswan.github.com'>The Life of a ...</a></h1>
    <div id='page'>
      <article>
        <a href="{{ page.url }}"><header>{{ page.title }}</header></a>
        <small>{{ page.date | date_to_string }}</small><br>
        {{ content }}
      </article>
    </div>
    <div id='disqus_thread'></div>
    <script type="text/javascript">
        var disqus_shortname = 'prusswan'; // required: replace example with your forum shortname

        var disqus_identifier = '{{page.wordpress_id}} http://prusswan.github.com/?p={{page.wordpress_id}}'
        var disqus_url = 'http://prusswan.github.com{{ page.url }}';
    </script>
    <script src='http://prusswan.disqus.com/embed.js'></script>

    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4e30f771f5a1f547c8000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
